<div class="main-container">
    <div class="container">
        <div class="list-products">
            <div *ngFor=" let product of orderdetails | productsearch:productSearch">
                <div *ngIf="isAdmin">
                <mat-card  style="display: flex;flex-direction: row;  padding: 1rem;" matTooltip="{{ product.productDetails }}">

                    <div>
                        <mat-card-title style="padding: 1rem;"  matTooltip="Update Image">
                            <img src="assets\bookimage\{{product.image}}" style="height: 13rem; width: 10rem; padding: 16px 0px 16px 16px ;" />
                        </mat-card-title>
                    </div>
                    <div style="width: 20rem;">
                        <mat-card-content style="display: flex;flex-direction: column;flex-wrap: nowrap;width: auto; margin-top: 10px; margin-bottom: 0px;">
                            
                            <div class="noofproducts">Order Number : {{ product.orderId }}</div>
                            <div class="productname">Product Name : {{ product.productName }}</div>
                            <div class="productauthor">Seller name : {{ product.productAuthor }}</div>
                            <div class="description">Description : {{ product.productDetails }}</div>
                            <div class="description">Quantity of Product : {{ product.quantityOfProduct }}</div>
                            <div class="price">Total Price : {{"₹ "+product.totalprice }}</div>
                            
                            <div class="status" >Order Status : <label style="color: green;">{{ product.orderStatus }}</label> </div>
                            
                            <div style="display: flex; justify-content: flex-start; margin-left: 20px;">
                                
                             
                                <div *ngIf="isAdmin">
                                    <button id="updateOrderStatusBtn" [disabled]="product.orderStatus === 'in shipment' || product.orderStatus === 'delivered' || product.orderStatus === 'in progress'" 
                                    [hidden]="product.orderStatus === 'in shipment' || product.orderStatus === 'delivered' || product.orderStatus === 'in progress'" style="width: 8rem; margin-left: 0px; margin-top:auto; color: white; outline: none; border-radius: 0px; background-color: rgba(131, 4, 4, 0.8);"  (click)="updateOrderAdmin(product.orderId,'in progress')"  mat-button>
                              Update-Order
                          </button>
                                                                 
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>

            <div *ngIf="isSeller">
                <mat-card *ngIf="product.orderStatus !='delivered' && product.orderStatus !='pending' " style="display: flex;flex-direction: row;  padding: 1rem;" matTooltip="{{ product.productDetails }}">

                    <div>
                        <mat-card-title style="padding: 1rem;"  matTooltip="Update Image">
                            <img src="assets\bookimage\{{product.image}}" style="height: 13rem; width: 10rem; padding: 16px 0px 16px 16px ;" />
                        </mat-card-title>
                    </div>
                    <div style="width: 20rem;">
                        <mat-card-content style="display: flex;flex-direction: column;flex-wrap: nowrap;width: auto; margin-top: 10px; margin-bottom: 0px;">
                            
                            <div class="noofproducts">Order Number : {{ product.orderId }}</div>
                            <div class="productname">Product Name : {{ product.productName }}</div>
                            <div class="productauthor">Seller name : {{ product.productAuthor }}</div>
                            <div class="description">Description : {{ product.productDetails }}</div>
                            <div class="description">Quantity of Product : {{ product.quantityOfProduct }}</div>
                            <div class="price">Total Price : {{"₹ "+product.totalprice }}</div>
                            
                            <div class="status" >Order Status : <label style="color: green;">{{ product.orderStatus }}</label> </div>
                            
                            <div style="display: flex; justify-content: flex-start; margin-left: 20px;">
                                
                             
                               
                                <div *ngIf="product.orderStatus != 'delivered'" >
                                    <mat-form-field>
                                        <mat-label>Update Order Status</mat-label>
                                        <mat-select disableRipple>
                                        <mat-option [disabled]="product.orderStatus === 'in shipment' || product.orderStatus === 'delivered'" (click)="updateOrderSeller(product.orderId,'in shipment')" >In Shipment</mat-option>
                                        <mat-option [disabled]="product.orderStatus === 'in progress' || product.orderStatus === 'delivered'  " (click)="updateOrderSeller(product.orderId,'delivered')">Delivered</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>