<div *ngIf="isLoading">
    <app-spineer></app-spineer>
</div>
<div fxLayoutAlign="center center" fxFlexFill *ngIf="!isLoading">
    <mat-card fxFlex="28">

        <div>
            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-start" style="background-color: #A03037; padding-top: 16px;">

                <div class="imgLogo">
                    <img src="assets\education.svg" alt="">
                </div>

                <h2 class="title">HomeCart</h2>
            </div>
            <div class="alert alert-danger text-justify" [hidden]="!error">{{error}}</div>
            <div class="alert alert-success text-justify" [hidden]="!message">{{message}}</div>
            <br>
            <h2 class="text-center">Forgot Password</h2>
            <p>Please Enter your Email</p>
        </div>
        <form action="" fxLayout="column" fxLayoutAlign="start start" #forgetPassword=ngForm (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                <mat-icon style="color: #e1e4e4;" matSuffix>email</mat-icon>
                <mat-error style="color: #A03037;">Valid Email require</mat-error>
            </mat-form-field>
            <br>


            <button style="
            background-color: #a03037;
            border-radius: 5px;
            text-decoration-color:#FFFFFF;
            font-size: 20px;
            font-weight: 500;
            color: whitesmoke;
            width: 106px;
            height: 40px;

            " mat-raised-button [disabled]="!forgetPassword.valid" type="submit" fxFlexAlign="end" color="primary">Send</button>
        </form>
    </mat-card>
</div>