.bottom {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    bottom: 0px;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    
}

.title {
    font-size: 25px;
    font-weight: bolder;
    font-family: Lato, Regular;
    align-items: flex-start;
    margin-top: 20px;
}

.sort-choice {
    align-content: flex-end;
    align-items: flex-end;
    z-index: 3001;
}

.list-products {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // z-index: 3001;
}

mat-card {
    display: flex;
    flex-wrap: wrap;
    width: 14.4rem;
    padding-right: 2em;
    border: 1px solid;
    border-color: rgb(240, 238, 238);
    margin-bottom: 20px;
}

.mat-card.mat-card {
    padding: 0px;
}

mat-card-title {
    background: #f5f5f5 0% 0% no-repeat padding-box;
}

.mat-card-title.mat-card-title {
    display: flex;
    height: 171px auto;
    width: 233px;
    align-items: center;
    align-content: center;
}

.productname {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: large;
    font-weight: bolder;
    font-size: 14px;
    font-family: Lato, Regular;
}

.productauthor {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 12px;
    font-family: Lato, Regular;
    color: gray;
}

.price {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Lato, Regular;
    font-weight: bolder;
    color: rgb(8, 8, 8);
}

.availablity {
    margin-left: 20px;
    margin-bottom: 12px;
    font-size: 13px;
    font-family: Lato;
    color: rgba(87, 25, 25, 0.904);
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.btn-addproduct {
    color: white;
    background-color: #a03037;
    height: 30px;
    width: 81px;
    padding: 0px;
    border-radius: 3px;
    font-size: small;
    border: none;
    cursor: pointer;
}

.addtobag {
    color: white;
    background-color: #a03037;
    height: 35px;
    width: 93px;
    padding: 0px;
    border-radius: 0px;
    font-size: small;
    border: none;
    cursor: pointer;
}

.wishlist {
    height: 35px;
    margin-left: 10px;
    width: auto;
    background-color: white;
    cursor: pointer;
    border-radius: 0px;
}

.update {
    height: 35px;
    margin-left: 10px;
    width: 83px;
    background-color: white;
    cursor: pointer;
    border-radius: 0px;
}

.addedbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

// pagination-controls li.current {
//   background: gray;
// }
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: rgba(143, 43, 47, 1) !important;
    color: #fefefe;
    cursor: default;
}

.out-of-stock {
    background: #ffffff 0% 0% no-repeat padding-box;
    text-align: center;
    padding: 8px 0px;
    font-size: medium;
    position: absolute;
    font-family: Lato;
    font-weight: bold;
    top: 100px;
    left: 30px;
    right: 30px;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 2px;
    opacity: 0.9;
    text-transform: uppercase;
}

.out-of-stock {
    background: #ffffff 0% 0% no-repeat padding-box;
    text-align: center;
    padding: 8px 0px;
    font-size: medium;
    position: absolute;
    top: 100px;
    left: 30px;
    right: 30px;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 2px;
    opacity: 0.9;
    text-transform: uppercase;
}

// pagination-controls li.current {
//   background: gray;
// }
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: rgba(143, 43, 47, 1) !important;
    color: #fefefe;
    cursor: default;
}

.pagination {
    display: inline-block;
    align-items: center;
    padding-bottom: 20px;
}

.pagination a {
    font: Medium Lato;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 9px/11px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #8F2B2F;
}

.pagination a:hover:not(.active) {
    background-color: #d4d5d2;
}

.pbtn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    opacity: 1;
}

.single {
    font-size: 14px;
    text-align: center;
    padding-top: 0px;
    height: 20px;
    width: fit-content !important;
    padding-right: 1px;
    margin-left: 20px;
    border-radius: 3px;
    border: none;
    color: white !important;
    margin-top: 5%;
  }