<div style="width: 100%;" style="height: 11%;">
    <app-toolbar flexLayout="row"></app-toolbar>
</div>
<div role="combobox" flex="column" class="display">
    <mat-card class="matcard2" fxLayout="row">
        <div class="cartdetails" fxLayout="row" fxLayoutAlign="start stretch" style="margin-left: 2%;">
            <mat-card class="productMatcard" fxLayoutAlign="center fit-content">
                <div class="image">
                    <img class="productimg" src="assets\bookimage\{{product.image}}" />
                </div>
            </mat-card>
            <div class="productdetails">
                <div class="producttitle" style="word-wrap: break-word; margin-bottom: 2%; font-size: 20px;">
                    <Strong>Item: {{ product.productName }}</Strong>
                </div>

                <div class="sub" style="word-wrap: break-word; margin-bottom: 4%;">
                    Seller: {{product.productAuthor }}
                </div>
                <div style="margin-bottom: 4%; font-size: 18px; margin-left: -25px;">
                    <Strong>Rs.{{ product.price }}</Strong>
                </div>
                <div style="margin-bottom: 5%; font-size: 14px; margin-left: -25px;">
                    <strong>Sell By:</strong>{{ " HomeCart" }}
                </div>
                <div fxLayout="row" fxLayoutAlign="spacearound stretch" style="margin-bottom: 5%; margin-left: -25px;" fxLayoutGap="35%">
                    <button class="total" fxLayout="row" style="
                font-size: 14px;
                text-align: center;
                padding-top: 9px;
                height: 40px;
                margin-bottom: 5px;
                width: fit-content !important;
                padding-right: 1px;
                border-radius: 3px;
                color: white;
              " [ngStyle]="{ 'background-color': color }">
              <div>
                {{ totalRate  }}
              </div>
              <mat-icon style="font-size: 14px; padding-top: 1.8px;">
                star
              </mat-icon>
            </button>
                    <!-- <button mat-button class="rating" (click)="rateNow()" style="color: #0a0102; background-color: white;">
              <strong >RATE BOOK</strong>
            </button> -->
                </div>
                <div fxLayout="row wrap">
                    <div fxLayout="row" style="margin-bottom: 5%;">
                        <div style="font-size: 18px; margin-left: -25px;">
                            <strong>Description:</strong>
                        </div>
                        <div style="
                  margin-left: 6px;
                  color: #9d9d9d !important;
                  margin-top: 2px;
                ">
                            {{product.productDetails}}
                        </div>
                    </div>
                    <div fxLayout="row" style="margin-left: -25px;">
                        <button *ngIf="!isAdded; else added" mat-button class="add" (click)="addToCart(product.productId)" style="color: white; background-color: #a03037;">
                ADD TO BAG
              </button>
                        <ng-template #added>
                            <button mat-button class="add" style="color: white; background-color: #3371b5;">
                  ADDED TO BAG
                </button>
                        </ng-template>
                        <button mat-button *ngIf="!isListed" class="add" (click)="addToWishlist()" style="color: #0a0102; background-color: white;">
                WISHLIST
              </button>
                        <!-- <button mat-button class="add" style="color: white; background-color: #3371b5;">
                IN WISHLIST
              </button> -->
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="matcard2">
        <div fxLayout="column" style="margin-left: 2%; margin-right: 2%;">
            <div style="font-size: 20px;">
                <strong>Ratings & Reviews</strong>
            </div>
            <div *ngFor="let review of reviewList">
                <div fxLayout="row" style="margin-top: 4%;">
                    <div>
                        <button class="single" fxLayout="row" style="
                  font-size: 14px;
                  text-align: center;
                  padding-top: 0px;
                  height: 20px;
                  width: fit-content !important;
                  padding-right: 1px;
                  border-radius: 3px;
                  color: white;
                  background-color: rgb(16, 136, 16);
                ">
                <div>
                  {{ review.rating }}
                </div>
                <mat-icon style="font-size: 14px; padding-top: 1.8px;">
                  star
                </mat-icon>
              </button>
                    </div>
                    <div style="margin-left: 20px;">
                        <strong>{{ review.name }}</strong>
                    </div>
                </div>
                <div>{{ review.review }}</div>
            </div>
            <div>
                <label *ngIf="totalRate == 0" class="total" style="color: black; background-color: white;">
            Be the first to write review
          </label>
            </div>
        </div>
    </mat-card>
</div>
<div class="foot" style="top: 720px; margin-top: 5%; margin-right: 0;">
    <app-footer></app-footer>
</div>