<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="40" style="background-color: rgb(245, 245, 245);">
        <div class="container " style="padding-top: 80px;">
            <div style="text-align: center; font-size: 40px;">
                <h1>
                    <span style=" font-size: 100px; color: rgb(0, 0, 0);">4</span>
                    <span style=" font-size: 100px; color: rgb(30, 183, 243);">0</span>
                    <span style=" font-size: 100px; color: rgb(0, 0, 0);">4</span>
                </h1>
                <mat-label style="text-align: center; font-size: 15px; margin-left: auto;">THE PAGE YOU REQUESTED COULD NOT FOUND</mat-label>
            </div>
        </div>
        <button mat-raised-button [routerLink]="['/products']" type="submit" style="margin-left: 40%; size: 20px;">Home</button>
    </mat-card>
</div>