.rating-container {
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width: 728px) {
    .footer {
        margin-right: 13%;
    }
}

@media (min-width: 1024px) {
    .footer {
        margin-right: 13%;
    }
}

@media (max-width: 414px) {
    .footer {
        margin-right: 8%;
    }
    .rate-submit {
        margin-left: 50% !important;
    }
}

button {
    height: 20px;
    width: 25px;
    line-height: 20px;
    mat-icon {
        color: rgb(255, 196, 0);
    }
}

.productimg {
    width: 120px;
    height: 150px;
}

.twocards {
    width: 365px;
}

mat-card {
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 8px 8px #fff inset !important;
}

.giverating {
    position: relative;
    flex-wrap: wrap;
    display: block;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.rating {
    margin-top: 4%;
    margin-left: -1%;
}

.singlecard {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    width: 80%;
}

.reviewtext {
    textarea {
        width: 99%;
        min-height: 60px;
        outline: none;
    }
}

.rate-submit {
    margin-left: 85%;
    margin-top: 10px;
    height: 40px;
    width: 70px;
    text-align: center;
    padding-left: 12px;
    background-color: #a03037;
    color: white;
}

.single {
    font-size: 14px;
    text-align: center;
    padding-top: 0px;
    height: 20px;
    width: fit-content !important;
    padding-right: 1px;
    border-radius: 3px;
    border: none;
    color: white !important;
    margin-top: 5%;
}

.addtobag {
    color: white;
    background-color: #a03037;
    height: 35px;
    width: 93px;
    padding: 0px;
    border-radius: 0px;
    font-size: small;
    border: none;
    cursor: pointer;
}