<app-toolbar></app-toolbar>
<div style="height: 100%; width: 100%;">
    <div class="greeting1">
        <img src="assets\greeting1.jpg" style="height: 15rem; width: 15rem;" />
    </div>
    <div class="message">
        <span style="color:red">Order </span>
        <span style="color: rgb(42, 42, 243);">&nbsp; Placed</span>
        <span style="color: red">&nbsp; Successfully</span>
    </div>
    <div class="greeting2" style="margin-top: 10px;">
        <span>hurry!!!your order is confirmed</span>
    </div>
    <div class="greeting2">
        <span>Please Check Your Email</span>
    </div>
    <div class="greeting2">
        <span> For further Communication...</span>
    </div>
    <div class="contact-heading"><span>Contact Us</span></div>
    <div class="contactus">
        <div class="card">
            <mat-card class="email">
                <mat-card-title style="display: flex; justify-content: center; align-items: center; background-color: rgb(248, 195, 191);">Email us</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">hcl.homecart@gmail.com</mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-title style="  display: flex;  justify-content: center;  align-items: center;background-color: rgb(248, 195, 191); ">Contact us</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">+91-0123456789</mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-title style="  display: flex;  justify-content: center;  align-items: center;  background-color: rgb(248, 195, 191);    ">Address</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">Hcl office , HSR Layout ,jabalpur</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>